<section class="section covers">
  <!-- <link rel="stylesheet" href="../css/reset.css" />
  <link rel="stylesheet" href="../css/covers.css" /> -->
  <ul class="covers-list">
    <li class="layer">
      <ul class="row">
        <li class="row-item">
          <img
            src="./img/Rectangle 11.png"
            alt=""
            width="282px"
            height="162px"
          />
        </li>
        <li class="row-item">
          <img
            src="./img/Rectangle 12.png"
            alt=""
            width="282px"
            height="162px"
          />
        </li>
        <li class="row-item">
          <img
            src="./img/Rectangle 4.png"
            alt=""
            width="282px"
            height="162px"
          />
        </li>
        <li class="row-item">
          <img
            src="./img/Rectangle 5.png"
            alt=""
            width="282px"
            height="162px"
          />
        </li>
        <li class="row-item">
          <img
            src="./img/Rectangle 6.png"
            alt=""
            width="282px"
            height="162px"
          />
        </li>
        <li class="row-item">
          <img
            src="./img/Rectangle 8.png"
            alt=""
            width="282px"
            height="162px"
          />
        </li>
        <li class="row-item">
          <img
            src="./img/Rectangle 9.png"
            alt=""
            width="282px"
            height="162px"
          />
        </li>
        <li class="row-item">
          <img
            src="./img/first screen 1.png"
            alt=""
            width="282px"
            height="162px"
          />
        </li>
        <li class="row-item">
          <img src="./img/" alt="" width="282px" height="162px" />
        </li>
        <li class="row-item">
          <img src="./img/" alt="" width="282px" height="162px" />
        </li>
      </ul>
    </li>

    <li class="layer">
      <ul class="row">
        <li class="row-item">
          <img
            src="./img/Rectangle 11.png"
            alt=""
            width="282px"
            height="162px"
          />
        </li>
        <li class="row-item">
          <img
            src="./img/Rectangle 12.png"
            alt=""
            width="282px"
            height="162px"
          />
        </li>
        <li class="row-item">
          <img
            src="./img/Rectangle 4.png"
            alt=""
            width="282px"
            height="162px"
          />
        </li>
        <li class="row-item">
          <img
            src="./img/Rectangle 5.png"
            alt=""
            width="282px"
            height="162px"
          />
        </li>
        <li class="row-item">
          <img
            src="./img/Rectangle 6.png"
            alt=""
            width="282px"
            height="162px"
          />
        </li>
        <li class="row-item">
          <img
            src="./img/Rectangle 8.png"
            alt=""
            width="282px"
            height="162px"
          />
        </li>
        <li class="row-item">
          <img
            src="./img/Rectangle 9.png"
            alt=""
            width="282px"
            height="162px"
          />
        </li>
        <li class="row-item">
          <img
            src="./img/first screen 1.png"
            alt=""
            width="282px"
            height="162px"
          />
        </li>
        <li class="row-item">
          <img src="./img/" alt="" width="282px" height="162px" />
        </li>
        <li class="row-item">
          <img src="./img/" alt="" width="282px" height="162px" />
        </li>
      </ul>
    </li>

    <li class="layer">
      <ul class="row">
        <li class="row-item">
          <img
            src="./img/Rectangle 11.png"
            alt=""
            width="282px"
            height="162px"
          />
        </li>
        <li class="row-item">
          <img
            src="./img/Rectangle 9.png"
            alt=""
            width="282px"
            height="162px"
          />
        </li>
        <li class="row-item">
          <img
            src="./img/Rectangle 4.png"
            alt=""
            width="282px"
            height="162px"
          />
        </li>
        <li class="row-item">
          <img
            src="./img/Rectangle 5.png"
            alt=""
            width="282px"
            height="162px"
          />
        </li>
        <li class="row-item">
          <img
            src="./img/Rectangle 6.png"
            alt=""
            width="282px"
            height="162px"
          />
        </li>
        <li class="row-item">
          <img
            src="./img/Rectangle 8.png"
            alt=""
            width="282px"
            height="162px"
          />
        </li>
        <li class="row-item">
          <img
            src="./img/Rectangle 9.png"
            alt=""
            width="282px"
            height="162px"
          />
        </li>
        <li class="row-item">
          <img
            src="./img/first screen 1.png"
            alt=""
            width="282px"
            height="162px"
          />
        </li>
        <li class="row-item">
          <img src="./img/" alt="" width="282px" height="162px" />
        </li>
        <li class="row-item">
          <img src="./img/" alt="" width="282px" height="162px" />
        </li>
      </ul>
    </li>

    <li class="layer">
      <ul class="row">
        <li class="row-item"><img src="./img/Rectangle 11.png" alt="" /></li>
        <li class="row-item"><img src="./img/Rectangle 12.png" alt="" /></li>
        <li class="row-item"><img src="./img/Rectangle 4.png" alt="" /></li>
        <li class="row-item"><img src="./img/Rectangle 5.png" alt="" /></li>
        <li class="row-item"><img src="./img/Rectangle 6.png" alt="" /></li>
        <li class="row-item"><img src="./img/Rectangle 8.png" alt="" /></li>
        <li class="row-item"><img src="./img/Rectangle 9.png" alt="" /></li>
        <li class="row-item"><img src="./img/first screen 1.png" alt="" /></li>
        <li class="row-item"><img src="./img/" alt="" /></li>
        <li class="row-item"><img src="./img/" alt="" /></li>
      </ul>
    </li>
  </ul>
</section>
