<section class="section covers">
  <ul class="covers-list">
    <li class="layer">
      <ul class="row">
        <li class="row-item">
          <img
            src="./img/Rectangle10.png"
            srcset="./img/Rectangle10@2x.png 2x"
            alt="project№10"
            width="282"
            height="162"
          />
        </li>
        <li class="row-item">
          <img
            src="./img/Rectangle7.png"
            srcset="./img/Rectangle7.jpg 2x"
            alt="project№7"
            width="282"
            height="162"
          />
        </li>
        <li class="row-item">
          <img
            src="./img/Rectangle12.png"
            srcset="./img/Rectangle12@2x.png 2x"
            alt="project№12"
            width="282"
            height="162"
          />
        </li>
      </ul>
    </li>

    <li class="layer">
      <ul class="row">
        <li class="row-item">
          <img
            src="./img/Rectangle11.png"
            srcset="./img/Rectangle11@2x.png 2x"
            alt="project№11"
            width="282"
            height="162"
          />
        </li>
        <li class="row-item">
          <img
            src="./img/Rectangle12.png"
            srcset="./img/Rectangle12@2x.png 2x"
            alt="project№12"
            width="282"
            height="162"
          />
        </li>
        <li class="row-item">
          <img
            src="./img/Rectangle8.png"
            srcset="./img/Rectangle8@2x.png 2x"
            alt="project№8"
            width="282"
            height="162"
          />
        </li>
        <li class="row-item">
          <img
            src="./img/Rectangle6.png"
            srcset="./img/Rectangle6@2x.png 2x"
            alt="project№6"
            width="282"
            height="162"
          />
        </li>
      </ul>
    </li>

    <li class="layer">
      <ul class="row">
        <li class="row-item">
          <img
            src="./img/Rectangle9.png"
            srcset="./img/Rectangle9@2x.png 2x"
            alt="project№9"
            width="282"
            height="162"
          />
        </li>
        <li class="row-item">
          <img
            src="./img/Rectangle4.png"
            srcset="./img/Rectangle4@2x.png 2x"
            alt="project№4"
            width="282"
            height="162"
          />
        </li>
        <li class="row-item">
          <img
            src="./img/Rectangle5.png"
            srcset="./img/Rectangle5@2x.png 2x"
            alt="project№5"
            width="282"
            height="162"
          />
        </li>

        <li class="row-item">
          <img
            src="./img/Rectangle10.png"
            srcset="./img/Rectangle10@2x.png 2x"
            alt="project№10"
            width="282"
            height="162"
          />
        </li>
      </ul>
    </li>

    <li class="layer">
      <ul class="row">
        <li class="row-item">
          <img src="./img/Rectangle11.png" alt="project№11" />
        </li>
        <li class="row-item">
          <img src="./img/Rectangle12.png" alt="project№12" />
        </li>
        <li class="row-item">
          <img src="./img/Rectangle4.png" alt="project№4" />
        </li>
        <li class="row-item">
          <img src="./img/Rectangle5.png" alt="project№5" />
        </li>
        <li class="row-item">
          <img src="./img/Rectangle6.png" alt="project№6" />
        </li>
        <li class="row-item">
          <img src="./img/Rectangle8.png" alt="project№8" />
        </li>
        <li class="row-item">
          <img src="./img/Rectangle9.png" alt="project№9" />
        </li>
      </ul>
    </li>
  </ul>
</section>
