<header class="section header">
  <div class="header-container">
    <div class="header-logo__container">
      <picture>
        <source
          srcset="./img/logo.png, ./img/logo@2x.png 2x, ./img/logo@3x.png 3x"
          media="(min-width: 1280px)"
        />
        <source
          srcset="./img/image.png, ./img/image@2x.png 2x, ./img/image@3x.png 3x"
          media="(min-width: 768px)"
        />
        <source
          srcset="./img/mobile-image@2x.png 2x, ./img/mobile-image@3x.png 3x"
          media="(min-width: 375px)"
        />
        <img
          src="./img/mobile-image.png"
          alt="Хлопець в окулярах"
          width="80"
          height="80"
        />
      </picture>

      <svg class="header-logo__svg" width="84" height="19">
        <use href="../img/sprite.svg#icon-jefferson"></use>
      </svg>
    </div>

    <nav class="header-nav">
      <div class="header-nav__wrap">
        <button class="header-nav__menu" type="button">Menu</button>
        <ul class="header-list is-hidden">
          <li header-items>
            <a class="header-link" href="./about-me.html">About me</a>
          </li>
          <li header-items>
            <a class="header-link" href="./benefits.html">Benefits</a>
          </li>
          <li header-items>
            <a class="header-link" href="./projects.html">Projects</a>
          </li>
          <li header-items><a class="header-link" href="./FAQ.html">FAQ</a></li>
        </ul>
      </div>
    </nav>
    <button class="header-order" type="button">
      <a class="header-order__link" href="#section-work-together"
        >Order the project</a
      >
    </button>
    <button class="menu-open" type="button">
      <svg class="menu-open__svg" width="28" height="28">
        <use href="../img/sprite.svg#icon-menu"></use>
      </svg>
    </button>
  </div>
  <div class="mobile-menu">
    <button class="menu-close" type="button">
      <svg class="menu-close__svg" width="16" height="16">
        <use href="../img/sprite.svg#icon-x"></use>
      </svg>
    </button>
    <div class="markup"></div>
    <button class="mobile-btn" type="button">
      <a class="mobile-link" href="./work-together.html">Order the project</a>
    </button>
  </div>
</header>
