<section class="section hero">

  <div class="container">
    <h1 class="hero-header">
      Hello.<br />I’m Fullstack developer<br />Lloyd Jefferson.
    </h1>

    <ul class="hero-list">
      <li class="hero-list-item lloyd-social">
        <a
          href="http://www.instagram.com/goitclub/"
          target="_blank"
          rel="noopener noreferrer"
          class="hero-list-link"
          >IG</a
        >
      </li>
      <li class="hero-list-item lloyd-social">
        <a
          href="http://www.facebook.com/goITclub/"
          target="_blank"
          rel="noopener noreferrer"
          class="hero-list-link"
          >FB</a
        >
      </li>
      <li class="hero-list-item lloyd-social">
        <a
          href="http://www.youtube.com/c/GoIT"
          target="_blank"
          rel="noopener noreferrer"
          class="hero-list-link"
          >YT</a
        >
      </li>
      <li class="hero-list-item lloyd-social">
        <a
          href="https://github.com/Abrandrokc/team-12"
          target="_blank"
          rel="noopener noreferrer"
          class="hero-list-link"
          >GH</a
        >
      </li>
      <li class="hero-list-item lloyd-email">
        <a
          href="mailto:lloydjefferson@gmail.com"
          target="_blank"
          rel="noopener noreferrer"
          class="hero-list-link"
          >lloydjefferson@gmail.com</a
        >
      </li>
    </ul>
  </div>
</section>
