<section class="section reviews">
  <div class="reviews-swiper">
    <ul class="reviews-swiper-wrapper"></ul>
    <div class="reviews-buttons">
      <button type="button" class="reviews-swiper-button-prev">
        <svg class="reviews-icon" width="32" height="32">
          <use href="../img/sprite.svg#icon-arrow-narrow-right1"></use>
        </svg>
      </button>
      <button type="button" class="reviews-swiper-button-next">
        <svg class="reviews-icon-right" width="32" height="32">
          <use href="../img/sprite.svg#icon-arrow-narrow-right"></use>
        </svg>
      </button>
    </div>
    <div class="revies-swiper-scrollbar"></div>
  </div>
</section>
