<section class="section work-together">
  <div class="container work-together">
    <div class="photo-title">
      <img
        class="photo"
        src="./319e0c94f50741cf4075e38d8b1897b6.jpg"
        width="44"
        height="44"
        alt="photo"
      />
      <h2 class="title">
        Let&apos;s <span class="accent-text">work</span> together
      </h2>
    </div>
    <form class="work-form" action="">
      <ul class="form-list">
        <li class="form-item">
          <input type="email" placeholder="clients@gmail.com" />
        </li>
        <li class="form-item">
          <input type="text" placeholder="comments" />
        </li>
      </ul>
      <button class="button-send" type="submit">Send</button>
    </form>
    <nav class="navigation">
      <ul>
        <li class="nav-item email">
          <a href="mailto:lloydjefferson@gmail.com">lloydjefferson@gmail.com</a>
        </li>
        <li class="nav-item phone">
          <a href="tel:+3801111111111">+380 11 1111 11 11</a>
        </li>
      </ul>
    </nav>
  </div>
</section>
