.section-benefits {
  background-color: #242527;
}
.benefits-title-section {
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: rgba(250, 250, 250, 0.4);
}
.benefits-list {
  background-color: #3b3b3b;
}
.benefits-item {
  width: 360px;
}
.benefits-title {
  font-size: 20px;
  line-height: 150%;
  letter-spacing: -0.02em;
  color: #fafafa;
}
.benefits-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.02em;
  color: rgba(250, 250, 250, 0.6);
}
