.section-benefits {
  
  padding-top: 84px;
}
.benefits-title-section {
  margin-bottom: 32px;
}
.benefits-title-section {
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: rgba(250, 250, 250, 0.4);
}
.benefits-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 32px;
}
.benefits-svg-icon {
  background-color: #ed3b44;
  width: 48px;
  height: 48px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 62px;
}
.benefits-item {
  box-sizing: border-box;
  background-color: #3b3b3b;
  border-radius: 20px;
  padding: 24px;

  height: 270px;
}
.benefits-svg-div {
  border-radius: 10px;
  background-color: #ed3b44;
  width: 48px;
  height: 48px;
  margin-bottom: 64px;

  /*  stroke: #fafafa;
  fill: #ed3b44; */
}

.benefits-icon {
  stroke: #fafafa;
  fill: #ed3b44;
}

.benefits-title {
  font-size: 20px;
  line-height: 150%;
  letter-spacing: -0.02em;
  color: #fafafa;
  margin-bottom: 8px;
}
.benefits-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.02em;
  color: rgba(250, 250, 250, 0.6);
}
.benefits-btn {
  font-size: 16px;
  letter-spacing: -0.02em;
  color: #fafafa;
  border: 1px solid rgba(250, 250, 250, 0.2);
  border-radius: 60px;
  padding: 18px 32px;
  width: max-content;
  background-color: #242527;
  display: block;
}
@media screen and (min-width: 375px) {
  .benefits-item {
    width: 344px;
  }
}
@media screen and (min-width: 768px) {
  .section-benefits {
  
    padding-top: 96px;
  }
  .benefits-list {
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 64px;
    max-width: 704px;
  }
  .benefits-item {
    width: 344px;
  
  }
}
@media screen and (min-width: 1440px) {
  .section-benefits {
    
    padding-top: 132px;
  }
  .container-benefits{
    display: flex;
    width: 1376px;
  }
  .benefits-desktop {
    width: calc(100% / 2);
  }
  .benefits-title-section {
    margin-bottom: 0px;
      width: calc(100% / 2);
  }
  .benefits-list {
    max-width: 680px;
  }
  .benefits-item {
    width: 332px;
  
  }
}
