#FAQ .faq-title {
  margin-bottom: 32px;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  color: rgba(250, 250, 250, 0.4);
}

#FAQ .faq-item {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  padding-bottom: 20px;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  color: #fafafa;
  border: none;
  border-top: 1px solid rgba(250, 250, 250, 0.6);
  background-color: transparent;
  margin-top: 0;
}

.faq-section {
  padding-top: 32px;
  padding-bottom: 64px;
}

.faq-item .faq-arrow-icon {
  transition: transform 300ms;
}

.faq-item.is-active .faq-arrow-icon {
  transform: rotate(180deg);
}

#FAQ .faq-item:last-child {
  border-bottom: 1px solid rgba(250, 250, 250, 0.6);
}

#FAQ .faq-item-container {
  display: flex;
  justify-content: space-between;
}

#FAQ .answer-question {
  padding-top: 26px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  color: rgba(250, 250, 250, 0.6);
}

#FAQ .faq-arrow-btn {
  background-color: transparent;
  border: 1px solid rgba(250, 250, 250, 0.2);
  height: 40px;
  border-radius: 50%;
  width: 40px;
}

#FAQ .ac-trigger {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px 9px 3px 9px;
}

#FAQ .faq-arrow-btn.ac-trigger::after {
  content: none;
}

#FAQ .faq-item-container {
  background-color: transparent;
}

#FAQ .ac-text {
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
}

#FAQ .faq-arrow-icon {
  stroke: #fafafa;
  fill: none;
}

/* =============== TABLET ===============*/

@media screen and (min-width: 768px) {
  .faq-section {
  padding-top: 48px;
    padding-bottom: 96px;
  }

  #FAQ .faq-item {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

#FAQ .faq-item-headline {
  max-width: 656px;
}

#FAQ .answer-question {
  max-width: 656px;
}

/* =============== DESKTOP ===============*/

@media screen and (min-width: 1440px) {
  .faq-section {
  padding-top: 96px;
  padding-bottom:164px;
  }

  .faq-list {
    display: flex;
    flex-wrap: wrap;
  }

  .faq-item {
    padding-bottom: 32px;
    flex-basis: 50%;
    width: 50%;
  }

  #FAQ .faq-item:nth-child(5) {
    border-bottom: 1px solid rgba(250, 250, 250, 0.6);
  }

  #FAQ .faq-item:nth-child(odd) {
    border-right: 1px solid rgba(250, 250, 250, 0.6);
  }

  #FAQ .faq-item:nth-child(odd) button {
    margin-right: 32px;
  }

  #FAQ .faq-item:nth-child(even) h3,
  #FAQ .faq-item:nth-child(even) p {
    padding-left: 32px;
  }
}
