/* MOBILE */


@media screen and (min-width: 375px) {
  .section {
    max-width: 375px;
  }
.header-container {display: flex;
justify-content: space-between;
margin-left: 10px;
margin-right: 10px;

}
.header-logo__container {
  display: flex;
}
.header-logo__text {
  display: block;
  width: 84px;
  height: 19px;
  margin-left: 10px;
}

.header-nav__menu {
  display: none;
}

.menu-open {
  border: none;
  background-color: transparent;
}

}



/* TABLET */
@media screen and (min-width: 768px) {
  .section {
    max-width: 768px;
  }


}

  /* DESKTOP */
@media screen and (min-width: 1280px) {
  .section {
    max-width: 1440px;
  }
}





.is-hidden {
  display: none;
}


.header-nav {
  display: flex;
  justify-content: space-between;
}

.header-nav__menu {

    font-weight: 500;
    font-size: 16px;
    letter-spacing: -0.02em;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #FAFAFA;
    background-color: transparent;
    border: none;
}

.header-link{
    font-weight: 500;
    font-size: 16px;
    letter-spacing: -0.02em;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #FAFAFA;
}



.header-order {
display: none;

@media screen and (min-width: 768px) {
  display: block;
  border-radius: 60px;
    padding: 18px 24px;
    width: 163px;
    height: 55px
}
  
}


  

.menu-open {
display: block;
background-color: transparent;
width: 28px;
height: 28px;
}

.menu-open__svg {
  background-color: transparent;
}

.menu-close {
  display: none;
}