
.header-nav {
  display: flex;
  justify-content: space-between;
}

.header-nav__menu {

    font-weight: 500;
    font-size: 16px;
    letter-spacing: -0.02em;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #FAFAFA;
    background-color: transparent;
    border: none;
}

.header-link{
    font-weight: 500;
    font-size: 16px;
    letter-spacing: -0.02em;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #FAFAFA;
}


.header-order{
  border-radius: 60px;
    padding: 18px 24px;
    width: 163px;
    height: 55px;
    font-weight: 500;
      font-size: 16px;
      letter-spacing: -0.02em;
}

.header-order {
  display: none;
}

.menu-open {
  display: none;
}

.menu-close {
  display: none;
}