

.secthion-project{
  padding-top: 32px;
    padding-bottom: 32px;
}
.projects-container {
  margin: 0 auto;
  max-width: 375px;
  
}

.projects-list-item.visually-hidden {
  display: none;
  visibility: hidden;
}

.projects-section-title {
  color: rgba(250, 250, 250, 0.4);
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: -0.02em;
  text-align: left;
  text-transform: uppercase;
  margin-bottom: 32px;
}

.projects-swiper-container.swiper-container {
  overflow: hidden;
}

.projects-list.swiper-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  max-width: 343px;
}

.projects-list-item {
  border-radius: 24px;
  min-width: 100%;
}

.project-description-part {
  background-color: #fafafa;
  color: #1c1d20;
  border-radius: 24px 24px 0 0;
  padding: 32px;
}

.project-technologies-list {
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
}

.project-technology {
  color: rgb(28, 29, 32);
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: -0.02em;
  padding: 13px 18px;
  box-sizing: border-box;
  border: 1px solid rgba(28, 29, 32, 0.2);
  border-radius: 60px;
}

.project-title {
  margin-top: 96px;
  color: rgb(28, 29, 32);
  font-size: 24px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: -0.03em;
}

.project-link {
  display: inline-block;
  width: 77px;
  margin-top: 32px;
  padding: 13px 32px;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: -0.02em;
  border-radius: 60px;
  color: rgb(250, 250, 250);
  background-color: #ED3B44;
}

.project-link:hover, .project-link:focus, .project-link:active {
  background-color: #E0373F;
}

.project-image-part {
  background-color: #242527;
  padding: 100px 16px;
  border-radius: 0 0 24px 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.project-image {
  margin: 0 auto;
}

.projects-swiper-button-prev.swiper-button-prev, .projects-swiper-button-next.swiper-button-next {
  position: static;
  height: 100%;
  width: 100%;
  margin: 0;
  cursor: pointer;
  z-index: auto;
  color: transparent;
}

.projects-swiper-button-prev.swiper-button-prev::after, .projects-swiper-button-next.swiper-button-next::after {
  display: none;
}


/* display: flex;
align-items: center;
justify-content: center;
color: var(--swiper-navigation-color, var(--swiper-theme-color)); */
.projects-swiper-buttons-container.swiper-buttons-container {
  display: flex;
  gap: 12px;
  margin-top: 32px;
  margin-left: auto;
  margin-right: auto;
  width: 116px;
}

.projects-swiper-button-prev.swiper-button-prev {
  transform: rotate(180deg);
}

.projects-swiper-button-prev.swiper-button, .projects-swiper-button-next.swiper-button {
  width: 24px;
  height: 24px;
  padding: 14px;
  stroke: #fafafa;
  fill: none;
  border: 1px solid rgba(250, 250, 250, 0.5);
  border-radius: 50%;
}

.projects-swiper-button-prev.swiper-button-disabled, .projects-swiper-button-next.swiper-button-disabled {
  opacity: 1;
  stroke: #3B3B3B;
  fill: none;
  border-color: rgba(250, 250, 250, 0.2);
}

@media screen and (min-width: 375px) {
  .projects-list-item {
    min-width: 343px;
  }
}

@media screen and (min-width: 768px) {
  .projects-container {
    max-width: 768px;
   
  }
.secthion-project {
  padding-top: 48px;
    padding-bottom: 48px;
}
  .projects-list-item {
    min-width: 704px;
  }

  .project-image-part {
    padding: 120px 45px;
  }

  .project-technology {
    padding: 18px 18px;
  }

  .project-title {
    font-size: 44px;
    font-weight: 500;
    line-height: 44px;
    letter-spacing: -0.03em;
    max-width: 494px;
    text-align: left;
    margin-top: 164px;
  }

  .project-description-part {
    padding: 64px;
  }

  .project-link {
    padding: 18px 50px;
  }

  .projects-list.swiper-wrapper {
    max-width: 704px;
  }

  .projects-swiper-buttons-container.swiper-buttons-container {
    width: 156px;
  }

  .projects-swiper-button-prev.swiper-button, .projects-swiper-button-next.swiper-button {
    width: 32px;
    height: 32px;
    padding: 18px;
  }

  .projects-swiper-button-prev .swiper-button-svg, .projects-swiper-button-next .swiper-button-svg{
    width: 32px;
    height: 32px;
  }
}

@media screen and (min-width: 1440px) {
  .projects-container {
    max-width: 1440px;
    
  }

  .projects-list-item.swiper-slide {
    display: flex;
    min-width: 1376px;
  }

  .project-description-part {
    
    width: calc(1376 / 2);
  }

  .project-image-part {
    border-radius: 0 24px 24px 0;
    padding: 120px 37px;
  }

  .project-description-part {
    padding: 64px;
    padding-right: 130px;
  }

  .projects-list.swiper-wrapper {
    max-width: 1376px;
  }
}
